{{extend 'plantilla.html'}}


<div class="btn-group pull-right" data-toggle="buttons-radio">

  {{=A('Proyectos Activos', callback=URL('list.load', vars=request.vars), target='project_list_container', _class='btn active primary btn-mini')}}
  
  {{ vars = dict(dict(state='any'),**request.vars)}}
  {{=A('Todas', callback=URL('list.load', vars=vars), target='project_list_container', _class='btn  btn-mini')}}

</div>


{{=A(TAG.i(_class='icon-white icon-star'),' Nuevo Proyecto', _href=URL(c='p', f='new.load'), 
_class='btn btn-large btn-inverse',
cid="new_project")}}

{{=LOAD(c='p', f='new.load', args=None,
target="new_project", _class="row"
)}}



<script>

jQuery().ready(function(){

jQuery("#new_project>form").hide();

});

</script>
