{{block header}}{{end}}

{{extend 'layout.html'}}

{{if request.get_vars.p:}}

{{=A('Nueva Tarea', _id="btn_new_task", _class="btn btn-large btn-inverse",
_href=URL(c='t',f='new.load', vars={'p':request.vars.p}),
cid='task_new_container')}}

{{pass}}


<div id="task_new_container" name="task_new_container" class="row"></div>

<div class="btn-group pull-right" data-toggle="buttons-radio" style="margin:7px auto;">


  {{=A('Esta Semana', _href=URL(f='list.load', vars=dict(state='week', p=request.get_vars.p)), cid='task_list_container', _class='btn active primary btn-mini')}}

  {{=A('Tareas Activas', _href=URL(f='list.load', vars=dict(state='active', p=request.get_vars.p)), cid='task_list_container', _class='btn primary btn-mini')}}
  
  {{=A('Todas', _href=URL('list.load', vars=dict(state='any', p=request.get_vars.p)), cid='task_list_container', _class='btn  btn-mini')}}

</div>


{{=LOAD(r=request, f='list.load',  args=request.args, vars=dict(p=request.get_vars.p, state=request.get_vars.state),
target='task_list_container', ajax=True)}}
