{{extend 'plantilla.html'}}

<div class="progress progress-striped active">  
  
  {{if not progress:}} 
  Seleccione un <a href="{{=URL(c='p',f='index.html')}}">Proyecto</a>
  {{else:}}
  
  
  <div class="bar" style="width:{{=progress}}%;">
    {{=progress}}%
    {{pass}}
    
  </div>
</div>


<div class="btn-group pull-right" data-toggle="buttons-radio">

  {{=A('Tareas Activas', callback=URL('list.load', vars=request.vars), target='task_list_container', _class='btn active primary btn-mini')}}
  
  {{ vars = dict(dict(showstate='any'),**request.vars)}}
  {{=A('Todas', callback=URL('list.load', vars=vars), target='task_list_container', _class='btn  btn-mini')}}

</div>

<button id="btn_new_task" class='btn btn-large btn-inverse'  onclick='jQuery("#new_task").slideToggle();'>Nueva Tarea</button>

{{=new_task}}

