{{extend 'plantilla.html'}}

<a class="btn" href="{{=URL(f='index',vars=request.vars)}}">
  <i class="icon icon-arrow-left"></i>
  Tareas en {{=request.vars.p}}
</a>

{{=form.custom.begin}}

<input type="hidden" id="task_project_uuid" name="project_uuid" value="{{=form.custom.inpval.project_uuid}}" />

<div id="task_new" style='{{="display:none;" if (not request.args) else "display:block;"}}' class="row-fluid">
  
  <div class="span8 well">
    
    <div class="span6">     
      <label class="control-label" for="task_name">Task Name</label>
      <div class="controls">{{=form.custom.widget.name}}</div>
    </div>
    
    <div class="span6">
      <label class="control-label" for="task_priority">{{=form.custom.label.priority}}</label>
      <div class="controls">{{=form.custom.widget.priority}}</div>
      
      
      <label class="control-label" for="task_progress">{{=form.custom.label.progress}}</label>
      <div class="controls">{{=form.custom.widget.progress}}</div>
      
    </div>
    
    <label class="control-label" for="task_tag">Tags</label>
    <div class="controls">{{=form.custom.widget.tag}}</div>
    
    
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#task_description">
      <label class="control-label" for="task_description">{{=form.custom.label.description}}</label>
    </button>
    
    <div id="task_description" class="controls collapse out" style="width:96%;">{{=form.custom.widget.description}}</div>
    
  </div>
  
  
  
  <div class="span4 well">
    
    <label class="control-label" for="task_tag">Parent</label>
    <div class="controls">
      {{=form.custom.widget.task_parent}}
    </div>
    
    
    
    <label class="control-label" for="task_tag">Child</label>
    <div class="controls">
      {{=form.custom.widget.task_child}}
    </div>
    
    
    <label class="control-label" for="task_finish">{{=form.custom.label.finish}}</label>
    <div class="controls">{{=form.custom.widget.finish}}</div>
    
    
    <div class="span12">
      <div class="span6">
	<label class="control-label" for="task_active">Anular</label>
	<div class="controls">{{=form.custom.widget.nullify}}</div>
      </div>
      
      <div class="span6">
	<label class="control-label" for="task_active">Notificar</label>
	<div class="controls"><input class="boolean" id="task_notify" name="notify" value="on" checked="checked" type="checkbox" /> </div>
      </div>
    </div>        
    
    
    <div class="span12">    
      <br />
      <input type="submit" value="Registrar Tarea" class="btn btn-primary center btn-large btn-block" />       
    </div>    
    {{=form.custom.end}}
    
  </div>  
  
  
</div>

