{{extend 'plantilla.html'}}

<h2>Salidas {{=project_name}}</h2>

{{=form}}


<table class="table table-striped">
<thead>
  <tr>
    <th>Monto</th>
    <th>Fecha</th>
    <th>Hecho</th>
    <th></th>
  </tr>
</thead>

<tbody>

{{for d in dataset:}}

<tr>
  <td>{{=d.expense.amount}}</td>
  <td>{{=d.expense.due_date}}</td>
  <td>{{=d.expense.done}}</td>
  <td><a class="btn btn-danger" href="{{=URL(args=d.expense.id,vars={'p':d.expense.project_uuid})}}">Editar</a></td>
</tr>

{{pass}}

</tbody>
</table>
