{{extend 'plantilla.html'}}

<h2>Entradas {{=project_name}}</h2>


{{=form}}
<h2>Total: 
{{=int(sum([d.income.amount for d in dataset]))}}
</h2>
<table class="table table-striped">
<thead>
  <tr>
    <th>Monto</th>
    <th>Fecha</th>
    <th>Hecho</th>
    <th></th>
  </tr>
</thead>

<tbody>

{{for d in dataset:}}

<tr>
  <td>{{=d.income.amount}}</td>
  <td>{{=d.income.due_date}}</td>
  <td>{{=d.income.done}}</td>
  <td><a class="btn btn-danger" href="{{=URL(args=d.income.id,vars={'p':d.income.project_uuid})}}">Editar</a></td>
</tr>

{{pass}}

</tbody>
</table>
