{{extend 'plantilla.html'}}

<h2>Entradas {{=project_name}}</h2>

{{=form}}

<canvas id="chart" width="950" height="200" style="margin:auto;"></canvas>

<script>
//Get the context of the canvas element we want to select
var ctx = document.getElementById("chart").getContext("2d");


var data = {
	labels : {{=XML(chart_data[0])}}, 
	datasets : [

		{
			fillColor : "rgba(151,187,205,0.5)",
			strokeColor : "rgba(151,187,205,1)",
			pointColor : "rgba(151,187,205,1)",
			pointStrokeColor : "#fff",
			data : {{=chart_data[1]}}
		}
	]
}

var myNewChart = new Chart(ctx).Line(data);
</script>

<h2>Total: 
{{=int(sum([d.income.amount for d in dataset]))}}
</h2>
<table class="table table-striped">
<thead>
  <tr>
    <th>Monto</th>
    <th>Fecha</th>
    <th>Hecho</th>
    <th></th>
  </tr>
</thead>

<tbody>

{{for d in dataset:}}

<tr>
  <td>{{=d.income.amount}}</td>
  <td>{{=d.income.due_date}}</td>
  <td>{{=d.income.done}}</td>
  <td><a class="btn btn-danger" href="{{=URL(args=d.income.id,vars={'p':d.income.project_uuid})}}">Editar</a></td>
</tr>

{{pass}}

</tbody>
</table>

